body {
  background-color: #000;
  color: #ffbb00;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: 800;
  text-shadow: 0 0 5px #cca949;
}

/* Old monitor lines effect */
body::after {
  content: "";
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(154, 154, 154, 0.15),
    rgba(154, 154, 154, 0.15) 2px,
    transparent 2px,
    transparent 4px
);
  pointer-events: none;
}

.terminal {
  position: absolute;
  max-width: 100%;
  top: 20%;
}

#visitor {
  color: #ff0000;
}

.output {
  margin: 10px 10px 10px 10px;
}

.userInput {
  border: none;
  background: none;
  color: #ffbb00;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: 800;
  outline: none;
  caret-color: #ffbb00;
}