:root {
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: #ffbb00;
  text-decoration: none;
}

/* Media Queries for Responsiveness */

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }
}

/* Medium devices (tablets, 600px to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  body {
    flex-direction: row;
  }
}

/* Large devices (desktops, 769px and up) */
@media only screen and (min-width: 769px) {
  body {
    flex-direction: row;
  }
}
